
// Fondo imagen del index
.fondo-img-i {
    background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUWFRgWFhUZGRgYHBocGhwZGBgYGhoaGhgZGh4aHRocIS4lHB4rHxgYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMBgYGEAYGEDEdFh0xMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMf/AABEIAKgBLAMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAACAwABBAUGB//EADcQAAEDAQYDBwMEAgIDAQAAAAEAAhEhAwQSMUFRYXGBIjKRobHB8AVC0RNi4fFSknKCc7LSY//EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwD5mx4AyyQEoQiCCwFbQoQoEFhEVRRMQWxExkqwyKmv4VvftkfmqArRwgAcfVCz2/j3U0z39lG61047hBQRO9v591Gj5/ahNZQQKwFpu9yc6p7I45+C6d3uzWZCu5zQYLv9Pcau7I8/4Wu0LLJvZFTlueJ4LS94aCTkFxbe1L3SenAIFkyZNd0b3yEd2sw4nF3WguPIaLQ1jHtOEYXDITmg58Jv6UNxECvdB148k2ys2g9vIxWaRrkqvtoC6AZaBA9UGd7fA/CghPYAQRrUjwr6eSSUEY8tIIzC6D7Btq3EKO157H8rnp10t8DuBz/KDPa2RaYcIVNYTkCeQld5wBigOo16rNbXxjaCp2H5Qc5t0eft8YCp93De88TsKlHbXx7uA4flVcrIOdUSAEGV0aIStgYHWkAdkH0/lVf2NBDWgA508kGY2TsOKKb05JZW2+mGtZt7U/KFzA2zkgSff+EGZlmXZCYQPbBgrddRhYXHWT0CyWVk55MZ5lAtrCUBC3WdmA7DQxmkNALiY7Ik9AgzFRabswGSRRZ7QiUBhHCFECgsFWQqhW0oLad1ZG6qNkQ80DTaGNK6odPnzdCETUFjLLb3RNGdPXcIRrX5IRNiCgjVbHkEEZhUDTNQIOnd/qANH04jL+F0GkESMl5wJjLRwBAJAOYQar7ecZgd0eZ3SHNIimdRxVWLWk9owPngtAeS8MIESAAe1FIoRqUFXQ1Lf8mlo55j0QWOZOzXehHuhe/tSBhrIG0ZJxiXEZObI6uEjoZQaPqdGsb8oAPdc0rofV3dpvI+q50oLDoW0PYwA4Jc4TGYFY1yWECaBOt24n4W6Q0bANEE8s0F3khzGvwhpJIMZGNVmY2U+2dihre60QDvuepS3OAoEAve6MOIwNEpbLtdQ4E4hwjQ8VltGwSJmNUAFbrt2GF29fYeawFQlBt+nszd09z7JTO3aE6CvQUHss2I7oZQPtzjfHGPD4UV/dJDR8mgWSVCUG+8shgA5eHwKrs4NYXRE+yxC0ISyUGizMMc7U/PUpIow/uMdAgJUa2TCDR3WcT7/wALIrdORVIGAogEEKwgIFEPNUDupCAgVfJDM/lWD4ID5K5rKH0UxIGDkrHzzSlaBh+fOiiFomgWt1xeGh2kVykcOKBDBJRubsDAzOgTLqAXhulfQldhjABAEDZBwJWh16docOWWtIk75J31Kxa2CBEmsZeC58oGOfJJOZTru8Hsk5zB2JEfjwCzSpKDofU3zgdu356rBKfaWmJg3afXPzg9SktbqaDf8boHXZpq7bLnvyGfgoCILRlqf8uHAJT7UkQKNGQ9zuUy7XZzqig3/G6BT3RRLlFbtwuI2JQIDbbOaIBisoHukzuqVFBCiFmcJdoEV3sS8xpqV0nMBaWjLLkg4xRMs5EmjRr7Dcp9jddXUA+dAlXi1xGBRoyHugUfAeK03jBhpEnWM49FllCSgihbxHzyVs15fPKVT2EZiEAEJjCIMZwc9uGyB2Q+U+Sqa4jJAxxdhMzp4JC02VjSSc/lUX6DeKDOCm2YnRAxoOcjzkI3P0H9oCtCDQaIAYQwflUQPkgtXKGVZKA2CZ4fITbsW4hiy5+qVZsc7sgcfZHbWDmROuyDoW7rLCe7IFIgHyXNlACtLro8NxQIic6gIAs4mq1Xm+EjDSIHORrO6wkqSg0XW2wODomPcQuzZ3thE4gIzmhC8/KuUG6/3oPgAUGp16LIEKOxtC1wIJEbbIGW13czMGKV0rxQ2bC401+Zapt8vmMAYYg0rpxG6zNeR8p4INV4hgwa68OB4mnKAkmrQdqH1Hv4Ice4HhHpCgeNJE51ogjHgGS0Hgcv5Wyy+onEMUBuVBkufKqUGm+993P2C13a6so8EnUTGa5jnE5/IELZZ38CBh7IpnXmgXeruWkmkE0r7JNnZlxgf0rvL8TyZkackLrSBhbrmdT/AAg0Wl4DRgZ1d+FLg+pG9fz7LDKNgdmKTInyPqg0Xy8T2RkM+P8ACxlNe6BCUBKBljYl3JNIYKZngrvL8IDBSlfwsZKDU0sJpQob0+sEU0rRZgU9hxNLTmMpQZnOlPF23KTZmHCd1uJQVkhRA1Tuzw8UHNtXzHugC6oWG+Mh06H1QKRNJ+VSpXSuDWQSJnIzx28EGIO4KSm3xoDsIbEc6pEoNdytQ10nKCFuv1o3BvPdj1XIBRsbJiQOJoAgKycMQJEiahde93hoYRIlwpHEZrlvsABONh4AzKTKApUlCiaeqDpWFxa9jXAkTnrlSmyzX1ga8tGQAz1pmtl0+oAyHANgSIygaeCxXm+F+bQIyznxQDYtBNchU8h8jqiL2uzbh4ty/wBT7EKmQGVJBfsJ7IPuf/VAbM5jtDcV8RmOqAzZHNsOHDPqM0AaULASaeOy0OvGhAdxyd/tr1QZ5TrtY4zGIA8dUGAHuu6OofHI+Suze5jpisag+KDRfLrhqO6AJrWUi74ScLqTkdj+FLzeS8NnMT1yWeUGm8XZzM8tx8os8rqXO8Y2wcxnxG6z3m7sJOFzQf8AEkfAgxSpKjhCqUDLICRikDcLq4GhoaBIzXJfagiFTrd1KkRQRRBVo+SaRwVWZqOaFzpqhlBqvve5j0WUFa2uD2wTBCzPsiNDzzCCOtTyGwoju2Z4BLZZk6H0TLRwa3CMzmgzlaG3gYa5pLWAiZjoraBUCpg19ggbZ2080yVglaGXiiDohY79ajujSp/CQ29v38gkygKUQtDETQ5obNskDcrRa3V7dJG499kCi4nMpt27wkAiszkBGfRUyxENl0F04RFNqnSSqsS4EwY3QabsMYLAA2QMgTXEDU5gUWZ7SCQcxxnzCda3qW4RmYk7gTnxr6LOxs8AMyguUTIkSYGpifJELIYS4OyIGUZ9UDGEkACpMINgIkMiW0gk71xSNwcuAWZ5EmBA0GaJ1s8axhp2TSlKxmaapJcgKUTGkkAa0S5TbOjS7U9kczn5U/7IG25aRiEgThAOoAzG2nipYNIl+2XEn8CT0Utw0NAk4hI0wmM/MmvBMY7sFpgQASdiTlx7Jy3QVYWYcHdoNAGuvz8LLKY5/ZMUEgAcMz17qqxsHPDiI7Ik/OiAJTm2hDRrJyNQAKdJPokMEkAaonnEeyCYoOQ+eaA5af2nxb+R5oX2ZFdNxUeIV21iWhpkHEJolseRkYQHZWpaQRp58Fd5eC4kZGviEP6gPeHVtPLL0U/TnunFyz8PwgCU27QSQRNDGlRX8pJKbYuaATihx4EwPygOzcyRAJJI70QK8M0m17x5n1RCxrn2YJkbD3lVbWoIiDTUmvkgVKtBKqUBBya29OCCysy48NUVvY4azTTdBT7y4pRKlm2SBujt7At4jcIIxpwk70/lCGGa0gTT2SyVYfQhAVo+dOuqXKqVAEDW2dAcQEznOn9qWjQCIMyAfFRpaQG1B6QXcfRXaWkdkDunM1MjbYSgYyxc0y4QINdqRXxyXXsny0GZkLjMfLsQrM4m61zjf1Wu42mE4CaGrTvuOB4boNV6u2INdqCB0kehhcu1tJJ5n1XYtXwxx2BPgJXABQHKNzqAdTz08vUpUo2GUDLF+bTk4QeBzB6H3TGvLP8AnkP2jU89vHZIsHNDhi7s1Tb69hfLMoGhFevRANie0NjQ8jRUgjirtHSSRqSfFBcrRavcwhoJGEV4nMnjX0CVdzBLv8a/9sm+deiZdcT3Bkgg6OqOmx5ICYwFzQcmtBdP+x83Qgt7WTTKSa5knU8fRFerUdpoEdqXGZkjbhMrKCge4yGgVNTStSY9GhOu7MPeIBd2QDXqRrWKHilXi9F5nu0AIE1jfxQCrRGbZ8M58Z8kGht4hpNToMURXPsjKnHVLeS6IMNOmQEZ0GcZqryCX4QOQ4uqfx0Tby5oaMIjNpjoT6Dz2QZnvkk5fjRUqY2fc6BaLNxcMA7kySYBpU/0gVgMTHGmfhmgYJIA1RW7hMj+tvKFbXnCSc8gda511p6oKtnySeg5CiXKqU11nQaOzINKTx1/KChanCW6FA0SY/hR7Ioc/FDKDRb2GETO3jqs8on2znZlLlAdm+CCjfaF9I5IGNlW90UQGxwaQNZHzktJK57TUcwtjngZoAtLIHgVle2DBTLS8E5U9UgVQWArgo2N8DnwKMIM0qSqlSUBhNbbuiDUbH85hJ6ZUNda1z/iih9EHXu9r+owsMgmeJph/wDoLBebDAYxA8s+o0QMtyBDaZyRmZ46aZbJUoDlGw58j5090y4WAe6CRAzFZPJVebEMcW4pptEVnrkgVKkqw3iPGPVUWnh4g+hQG818B4CFAw4S6KAwTxVNEnqu7Y3qzDGyGskmnEUJ8hmg4tnbEAihBzB4ccwihhyOE7OqP9hl1HVBeHkucSQTJyy6cEuUDHsLcxTQ5g8iKFDKjLQtyMeh5jIow9hzGE7ty/1PsQgGUdiYOL/GvXIefoUJsjm2HDhn1GYVPMNA37R65eVf+yDU+3ljQ0kvND+J5oWiZb9oAAPESabky6nFBYWZwl+gpTOd/NDZvlwmgGXD8lBCSaAQB67ncp9s8MEDgByEEnqY80F7a0PhhkHTjoEi1fJzkCg6ICYYk9BzOvhPiFLd1Y2zildcvDorZkDSGif+x4eH+qRKBjHlpkFMe0SHEgTBip4mdgs8qpQNtT2jBmT6oS0xOmXVa7kwYcWp/pG5sEkZHMe4QYWMkE6ALSLqIzM9E18EADI+gr/HVESg57wWmEsuWy82cjiFhlBYKj3k5qMaSqewjNBRTWM34EFBZmoT52QRx6KsXBUSqjigSGHbNWGHbXDn9yMk5ATNBB+75oo2y/Yf8O99+/yiCCxdBOHI4TX7j/YVvsXNmW9yjq6nL1Ca2xjOzJA7Lu1m8xB8x4q/0IibMnDR/a7zjEEePmgzOYRMju59clS1mwwgTZ93vw7MHKEk2JGbD2au7Why5a5IAZaFpkGDEeKjnk5knStULmEUIIOfQxHr5qpQFKNrDrSRI4jgpdmtLu06PfhJoOq2Ptw5wYW5GAHTLQBBAgjOMspQZXPgQEsuVOdJkCATQDyHErs3T6a0AF4l2caDhGqDm2F3e/ujrp4pzvp1psDyP5XcWH6o8hlJmRUTQV1GSDkPYWmCCDxQymMvRyeS5uxqRxBzBVXmywHOQRLTuEAByb+tPeGLjk7x16ypdLAucKdkESdOXFPvNzawF2KmgjXaUCMAPdd0ND+CluBBgiDxSyUbbUgRmNjUfx0QWx8GQilp/b5j8jzQ9k/tPiPyPNW2yM17uZIqIGdQgK0oA3qfbyr1Siqe+STujsrJzsh10QBKkp5uwyxtnb4Um1sy3Px0QdG69wfNSmErmMtngUNBwC1Xa1LhXOUA2tvhfAHPjKeShdColBktrcmmSRKO8iHHjVKlAbHwZUe+c0CoIGWWfJOJ/vogY2OfNE2vLyCCCSnsECKeSUXBv/JLxoAazXCa9kV+75otNnZ/sdGXe+/fPzSWM/a7YV+9aLNo/wAXxka/fvn5oGNsxSWOpR3azeYg51zz4jZG2zFJY4xR3amXUg59r2nwFrd2v0xdo9/swaHzyyTGtH3Nf++p71IyNenBABYPuY8x3+3OIaa9qEl1kB3mP7NX9qeyZw68B4LQ4D7mv/f2pkaZGvRZ3tA7zbSkl1ZltcOvLwKDO9kUwOBnEa/actKc0o8v6TLSNnTMmf8AHT2SSUFla7S+umWgNEzEAydzIz9FjlSUHR+mMx2hcftl3CSae/ggvd9c58tcQBRsEim/VN+ikS8cB6n8rNebq5ry1oJ1ECaHL8dEHV+mXhz2nEZgxtprC2LD9NsHMacVCTO+i2SgyWn09hdMRuBQH8dEP1CxGCgjDUcBr5J7rduINxDFsqvIlj6/afOiDjXa3LXAyQJE7RrRPvN/xAtwjCct+awuoqlAcqSrtbFzcweeleKXKApVhyuysnOMD+AnPuTgJBBjRAu72eJ0aa8kd4vE9ltGjbVRhizJ1cY6fJ8VllAUrVd5e1zNqjh890kWDv8AE8OKj3YZA/KAnOwimaK5uqRvXw/tZJTLB8OBQdIlCSlOvLRrPJJdetggK9CgOyykq32xOaXKB9hr0TeQWeydWN04oISmvtQRzokFUeSCEqAKSq6oDbwx8P8AyfOq0sI//Tj/AM1FEDGka4/3Z9/sx8yyRhw+7H+/PvUjL24KlEAOcPu/U/fy+3L2SHuE9r9Sfun/AB+3281FEGd5bu6Z1ju6dUmVFEG25XIvmQQIMGKTpzSrxd3MgGJOgMqKICuNvgeCcsjyPwL0MqKIISub9Vt3NDQ0xMzHCPDNRRBy7FhcQG56c11fqd4wtDJlxjFCiiDjyjsrQtcCDH4UUQPvd7xiIiDSvrxWWVFEGz9YNswGntHPcfKBZrG2LTI1UUQAXKASYCtRBqtLRwoJiA3OhPJJtozkScxn5qKIESpKiiAmtJyCY3sisSaRw1VqIB/TByI80pRRAdk2SnGOqiiCjxVKKIKUUUQf/9k=);
}


 .contenedor-main-aside {
    @include templateflex (space-between)  
 }
 
 /* Contenedor del aside del index */
 .aside-container {
     bottom: 250px;
     right: 30px;
     background-color: $verde-oscuro;
     border: solid 1px #2E2E2E;
     border-radius: 15px; 
     /* Titulo del aside del index */
 &__h2 {
     display: grid;
     align-items: center;
     margin-right:40px;
     padding: 20px;
     font-size: 40px;
     background-color: $colornavaside;
     border-radius: 15px;
     @extend .borders;
     text-align: center;
     font-family:'rubik dirt',cursive;
 }
 
 /* Parrafo del aside del index */
 &__parrafo {
     font-size: 27px;
     font-family: 'merriweather', serif;
     border-bottom: 8px solid $verde-main ;
     border-radius: 5px;  
     display: grid;    
 }   
 }
 
 
 /* contenedor de los incriptos a torneos del index */
 .inscriptos-container {
     position: relative;
     margin-bottom: 100px;  
     /* titulo de los inscriptos al torneo del index */
 &__title {
     color: wheat;
     display: inline;
     font-size: 25px;
    @extend .borders;
 }
 /* Tabla de los inscriptos al torneo del index */
 &__table {
     width: 500px;
     height: 200px;
     border-color: $verde-oscuro;
     background-color: $verde-oscuro;
     color:#E8E8E8  ;
     margin-top: 10px;
     font-size:x-large;
 }  
 } 
 
 
    @media (max-width: 550px) {
    /* Titulo */
    .header-h1{
    font-size: 40px;
    }
    /*contenedor del iniciar sesion */
        .user-container {
            width: 320px;
            height: 150px;
            font-size: 15px;
            /* inputos del iniciar sesion */
         & input {
            font-size: 18px;
  
       }
         /* titulo del iniciar sesion */
         &__h3 {
            background-color: $verde-oscuro;
            width: 300px;
            height: 50px;
            font-size: 25px;
       }
      } 
    }
    

    

/* pantalla con una resolucion de 1035px */
@media (max-width:1035px) {
   .contenedor-main-aside {
        @include templategrid (5);
        }
}
  
/* Contenedor del aside y del main*/
@media (max-width:600px) {
    .contenedor-main-aside {
        @include templategrid (5);
     }
   main {
       display: grid;
       align-content: flex-start;    
   }
   aside {
       width: 250px;
       margin: 0;
@include gridtemplate (end,true)
       // display: grid;
       // align-content:end;
       // justify-items:left;
   }
   .aside-container__h2{
       text-align: center;
       width: 230px;
   }
   .aside-container__parrafo {
           width: 250px;
           text-align: center;
           justify-items: center;
           align-content:flex-end;  
       }  
   }    



@media (max-width:750px) {
      .body-img iframe{
       width: 270px;
      }
}

@media (max-width:510px) {
      /* tabla del index*/
      .inscriptos-container__table {
       width: 200px;
      }
}

@media (max-width:371px){
      .header-h1 {
       font-size:20px;
      }
      /*contenedor del iniciar sesion */
     .user-container {
        width: 220px;
        height: 100px;
        font-size: 10px;

        /* inputos del iniciar sesion */
     & input {
        font-size: 10px;

   }
        /* titulo del iniciar sesion */
        &__h3 {
            background-color: $verde-oscuro;
            width: 205px;
            height: 26px;
            font-size: 15px;
    
       }
}
}

/* pantalla con una resolucion de 627px */
/* grid aplicado en imagen y ubicacion */
@media (max-width:627px) {
       .body-img {
        @include templategrid (5);
       & iframe {
           grid-column-start: 1;
           grid-row-start: 3;
           width:270px;
           height: 100px;
         }     
         & img {
           position:relative;
           grid-column-start:1 ;
           grid-row-start: 1;
           width:270px;
           height: 100px;               
       } 
   }
}

@media (max-width:335px) {
    
    /*contenedor del iniciar sesion */
    .user-container {
        width: 220px;
        height: 100px;
        font-size: 10px;

        /* inputos del iniciar sesion */
     & input {
        font-size: 10px;

   }
        /* titulo del iniciar sesion */
        &__h3 {
            background-color: $verde-oscuro;
            width: 205px;
            height: 26px;
            font-size: 15px;
       }
  } 
}

@media (max-width:325px) {
    /* tabla del index*/
    .inscriptos-container__table {
        width: 150px;
        font-size: 20px;
       } 
}




