

/* MODIFICACIONES DEL NAV Y DEL USUARIO EN LA PAG TORNEOS */
.fondo-img {
    background-image:url("./assets/images.jfif");
    height: 100vh;
    
}





/* Contenedor del iniciar sesion en torneos */
.user-container {
    border: 8px double $verde-main;
    position: relative;
    height: 120px;
    width: 280px;
    margin-top: 10px;
    background-color:darkgray;
    margin-bottom: 100px;
}


/* Titulo del iniciar sesion en torneos*/
.user-container__h3 {
    font-size: 20px;
    background-color: $verde-oscuro;
    display: inline-block;
    padding: 10px;
    height: 35px;
    width: 265px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}


/* titulo de la pag torneo */
.titulo-torneos {
    background-color: aliceblue;
    color: rgb(27, 69, 27);
    text-align: center; 
    transition: transform 5s;
     
   }
   .titulo-torneos:hover {
    transform: scalex(1.3) scaleY(1.3) translate(50px);
   }

 .fondo-img {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT51kXrJw9mAqK4qAwcsrQokJCJesphQWSlCQ&usqp=CAU)
 }


.header-h1 {
    width: 1fr;
    font-size: 80px;
    text-align: center;
    border: 10px ridge $verde-main;
    border-radius: 10px;
    background-color:$verde-oscuro;
    margin-top: 130px;
    font-family:'aboreto', cursive;
    transition: transform 5s;
    animation-delay: 2s;
    color: black;
    //cambio de color en el h1
     &:hover {
    background: $negro;
    color:$verde-main;
    animation-delay: 2s;
     }
    
}



