* {
    margin: 0;
    box-sizing: border-box;
}


/* Titulo */
.header-h1 {
    width: 1fr;
    font-size: 80px;
    text-align: center;
    border: 10px ridge $verde-main;
    border-radius: 10px;
    background-color:$verde-oscuro;
    margin-top: 130px;
    font-family:'aboreto', cursive;
    transition: transform 5s;
    animation-delay: 2s;
    //cambio de color en el h1
     &:hover {
    background: $negro;
    color:$verde-main;
    animation-delay: 2s;
     }
    
}


.nav-item {
    font-size: 20px;
    margin-left: 35px;
}

.nav-item:hover {
    background-color:$blanco;
    border-radius: 15px;
    }
